<div class="card">
    <div class="main content">
        <div class="ui header">
            <%= province.provName%>
        </div>
    </div>
    <div class="extra content">
        <div class="ui two description">
            Confirmed: <span class="provStats"><%= province.provCases%></span> <br/>
            Deaths: <span class="provStats"><%= province.provDeaths%></span> <br/>
            Recoveries: <span class="provStats"><%= province.provRecoveries%></span> <br/>
            Active: <span class="provStats"><%= province.provActive%></span>

        </div>
    </div>
</div>

