<footer class="footer-distributed">
    <div class="footer-right">

        <a href="https://github.com/TumoM"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/tumo-masire-11206071/"><i class="fab fa-linkedin"></i></a>
        <a href="mailto:tumomasire@gmail.com"><i class="fas fa-envelope-square"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="/" data-section="#myHome" class="active item fluid homeNavButton">Home</a>
            ·
            <a href="#myStatsHeading" data-section="#myStats" class="item fluid statsNavButton">Stats</a>
            ·
            <a href="#myMapHeading" data-section="#myMap" class="item fluid mapNavButton">Map</a>
            ·
            <a href="#myGraphsHeading" data-section="#myGraphs" class="item fluid graphNavButton">Graphs</a>
            ·
            <a href="#myTableHeading" data-section="#myTable" class="item fluid tableNavButton">Historical</a>
            ·
            <a href="javascript:void(0)" class="item aboutButton" id="aboutButton">About</a>
        </p>

        <p>Designed & Built: Tumo Masire &copy; 2020</p>
    </div>

</footer>
<!--<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>-->
<!--<script src="/scripts/vendor/jquery.min.js"></script>
<script src="/scripts/vendor/moment.min.js"></script>
<script src="/scripts/vendor/numeral.min.js"></script>
<script src="/scripts/vendor/Chart.bundle.min.js"></script>-->
<!--<script src="/scripts/map.js"></script>
<script src="/scripts/graphs.js"></script>
<script src="/scripts/table.js"></script>-->
<!-- the mousewheel plugin - optional to provide mousewheel support -->
<!-- the jScrollPane script -->
<!--<script src="/assets/tabulator/dist/js/tabulator.min.js"></script>
-->
<!--<script src="/assets/semantic/dist/semantic.min.js"></script>-->


<!--<script src="/scripts/vendor/jquery.jscrollpane.min.js"></script>
<script src="/scripts/vendor/jquery.mousewheel.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>-->
<script>
	var ready = (callback) => {
		if (document.readyState != "loading") callback();
		else document.addEventListener("DOMContentLoaded", callback);
	}

	ready(() => {
		$('#mainBundle').attr('rel','stylesheet')
			// Cache selectors
			var lastId,
				topMenu = $("nav"),
				topMenuHeight = topMenu.outerHeight(),
				// All list items
				menuItems = topMenu.find("a.item.fluid"),
				// Anchors corresponding to menu items
				scrollItems = menuItems.map(function(){
					var item = $($(this).attr("data-section"));
					if (item.length) { return item; }
				});
		setProvs(<%- JSON.stringify(provincesHistorical.provCases) %>,<%- JSON.stringify(provincesHistorical.provDeaths) %>,<%- JSON.stringify(provincesHistorical.provRecoveries) %>,<%- JSON.stringify(provincesHistorical.provActive) %>)
		setColours(<%- JSON.stringify(provincesHistorical.provCases) %>)
		setGraphs(<%- JSON.stringify(graphData) %>)
		setTable(<%- JSON.stringify(graphData) %>)



            // Bind click handler to menu items
            // so we can get a fancy scroll animation
            menuItems.click(function(e){
                var href = $(this).attr("data-section"),
                    offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight;
                $('html, body').stop().animate({
                    scrollTop: offsetTop
                }, 850);
                e.preventDefault();
            });

			var debounced_version = _.debounce(function(){
							// Get container scroll position
							var fromTop = $(this).scrollTop()-topMenuHeight;

							// Get id of current scroll item
							var cur = scrollItems.map(function(){
								if ($(this).offset().top < fromTop)
									return this;
							});
							// Get the id of the current element
							cur = cur[cur.length-1];
							var id = cur && cur.length ? cur[0].id : "";

							if (lastId !== id) {
								lastId = id;
                                console.log('ID:',id)
                                let myId = id.split('my')[1]||'Home';
                                id = id?id:'myHome'
                                // myId = myId.length>0?myId:'Home'
                                console.log('My ID:',myId)
								// Set/remove active class
								menuItems.removeClass("active");
								menuItems
									.parent()
									.end().filter(`[data-section="#${id}"]`).addClass("active");
                                gtag('config', 'UA-0000000-1', {
                                    'page_title' : `${myId}`,
                                    'page_path': `/${myId.toLowerCase()}`
                                });
							}
						}, 200,{leading: true});
			$(window).on('scroll', debounced_version);
			$(window).scroll();

			$('.aboutButton')
				.click((event)=>{
					console.log("you clicked me!")
                    gtag('config', 'UA-0000000-1', {
                        'page_title' : 'About',
                        'page_path': '/about'
                    });

                    $('.page.dimmer:first')
						.dimmer('toggle')
					;

            /* $('#myMainContainer > .dimmer')
             .dimmer('toggle')
             ;*/
				})
			$('#menuToggler')
				.click((event)=>{
					console.log("you clicked me 2!")
					if( document.getElementById("myNavOverlay").classList.toString() === "overlay"){ // Not Open
						console.log("Not Open! opening")
						document.getElementById("myNavOverlay").style.height = "100%";
						document.getElementById("myNavOverlay").classList.add('open');
					}
					else{
						console.log("Already Open! closing")
						document.getElementById("myNavOverlay").style.height = "0%";
						document.getElementById("myNavOverlay").classList.remove('open');
					}

					console.log('Class List',document.getElementById("myNavOverlay").classList);
				})
			$('.closebtnNavOverlay')
				.click((event)=>{
					console.log("you clicked me 3!")
					if( document.getElementById("myNavOverlay").classList.toString() === "overlay open"){ // Not Open
						document.getElementById("myNavOverlay").style.height = "0%";
						document.getElementById("myNavOverlay").classList.remove('open');
					}
				})
			$(document).ready(function() {
				$(".ui.toggle.button.nav").click(function() {
					$(".mobile.only.grid .ui.vertical.menu").toggle(100);
				});
				$("#myNav .item.close").click(function() {
					$(".mobile.only.grid .ui.vertical.menu").toggle(100);
				});

				$(".ui.dropdown").dropdown();

				$('#mainBundle').attr('rel','stylesheet')



			});

		});
</script>
<!--<script>-->
<!--	let mainNavLinks = document.querySelectorAll("nav a.item.fluid");-->
<!--	console.log(mainNavLinks)-->
<!--	let mainSections = document.querySelectorAll("main section");-->

<!--	let lastId;-->
<!--	let cur = [];-->

<!--	// This should probably be throttled.-->
<!--	// Especially because it triggers during smooth scrolling.-->
<!--	// https://lodash.com/docs/4.17.10#throttle-->
<!--	// You could do like...-->
<!--	// window.addEventListener("scroll", () => {-->
<!--	//    _.throttle(doThatStuff, 100);-->
<!--	// });-->
<!--	// Only not doing it here to keep this Pen dependency-free.-->

<!--	window.addEventListener("scroll", event => {-->
<!--		let fromTop = window.scrollY+110;-->

<!--		mainNavLinks.forEach(link => {-->
<!--			let section = document.querySelector(link.dataset.section);-->
<!--        /*  console.log('fromTop:',fromTop)-->
<!--         console.log('section offset:',section.offsetTop)-->
<!--         console.log('section height:',section.offsetHeight)*/-->
<!--			// console.log('fromTop:',fromTop)-->
<!--			if (-->
<!--				section.offsetTop <= fromTop &&-->
<!--				section.offsetTop + section.offsetHeight > fromTop-->
<!--			) {-->
<!--				link.classList.add("active");-->
<!--			} else {-->
<!--				link.classList.remove("active");-->
<!--			}-->
<!--		});-->
<!--	});-->

<!--</script>-->
<script type="text/javascript">
    rg4js('apiKey', 'tFPD7XD5DdxlPwgPa8Kn5w');
    rg4js('enableCrashReporting', true);
</script>
</body>
</html>
