<%- include("./partials/header") %>
<div class="container segment main center">
    <div id="myTitle" class="">
        <h1 id="t1" class="ui header">
            Covid-19 Tracker SA
        </h1>
    </div>
    <div class="ui section divider"></div>

    <%# Stats %>
    <h2 class="ui header block top attached">Summary Statistics</h2>
    <section class="ui segment padded section expand raised attached grid">
        <div class="column">
            <div class="ui statistics">
                <div class="orange statistic">
                    <div class="large label">
                        <h2 class="ui huge header">Covid-19 Cases:</h2>
                    </div>
                    <div class="ui large value">
                        <%= data.totalCases %>
                    </div>
                </div>
                <br>
                <div class="statistic bold red">
                    <div class="large label">
                        <h2 class="ui huge header">Covid-19 Deaths:</h2>
                    </div>
                    <div class="value">
                        <%=data.totalDeaths%>
                    </div>
                </div>
                <br>
                <div class="statistic blue">
                    <div class="">
                        <h2 class="ui huge header">Covid-19 Recoveries:</h2>
                    </div>
                    <div class="value">
                        <%=data.totalRecoveries%>
                    </div>
                </div>
                <br>
                <div class="statistic green">
                    <div class="label">
                        <h2 class="ui huge header">Covid-19 Tests:</h2>
                    </div>
                    <div class="value">
                        <%=data.totalTests%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="ui section divider"></div>

    <%# Map %>
    <h2 class="ui header block top attached">Provincial Map</h2>
    <section class="ui segment section expand raised attached grid">
        <div class="ui three column grid row">
            <div class="four wide column left aligned">
                    <p>Left Sidebar</p>
            </div>
            <div class="ten wide column">
                <%- include("./map/mapFile") %>
            </div>
            <div class="two wide column left aligned">
                    3
            </div>
        </div>
    </section>
    <div class="ui section divider"></div>

    <%# Graphs %>
    <h2 class="ui header block top attached">Graphs</h2>
    <section class="ui segment padded section expand raised attached">
        <div>
            <p>The Graphs go here</p>
        </div>
    </section>
    <div class="ui section divider"></div>

    <%# Table %>
    <h2 class="ui header block top attached">Table</h2>
    <section class="ui segment padded section expand raised attached">
        <div>
            <p>The Table will go here!!!</p>
        </div>
    </section>
    <div class="ui section divider"></div>

</div>

<%- include("./partials/footer") %>
<script>
    setColours(<%- JSON.stringify(provCases) %>)
    setProvs(<%- JSON.stringify(provCases) %>,<%- JSON.stringify(provDeaths) %>)
</script>