<%- include("./partials/header") %>
<div class="pusher">
<div class="container segment main center">
    <div id="myTitle" class="">
        <h1 id="t1" class="ui header">
            Covid-19 Tracker SA
        </h1>
    </div>
    <div class="ui section divider"></div>

    <%# Stats %>
    <h2 class="ui header block top attached">Summary Statistics</h2>
    <section class="ui segment padded section expand raised attached grid">
        <div class="column">
            <div class="ui statistics">
                <div class="orange statistic">
                    <div class="large label">
                        <h2 class="ui huge header">Covid-19 Cases:</h2>
                    </div>
                    <div class="ui large value">
                        <%= data.totalCases %>
                    </div>
                </div>
                <br>
                <div class="statistic bold red">
                    <div class="large label">
                        <h2 class="ui huge header">Covid-19 Deaths:</h2>
                    </div>
                    <div class="value">
                        <%=data.totalDeaths%>
                    </div>
                </div>
                <br>
                <div class="statistic blue">
                    <div class="">
                        <h2 class="ui huge header">Covid-19 Recoveries:</h2>
                    </div>
                    <div class="value">
                        <%=data.totalRecoveries%>
                    </div>
                </div>
                <br>
                <div class="statistic green">
                    <div class="label">
                        <h2 class="ui huge header">Covid-19 Tests:</h2>
                    </div>
                    <div class="value">
                        <%=data.totalTests%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="ui section divider"></div>

    <%# Map %>
    <h2 class="ui header block top attached">Provincial Map</h2>
    <section class="ui segment section expand raised attached grid">
        <div class="ui three column grid row" id="mapContainer">
            <div class="four wide column" id="provStatsContainer">
                <div class="ui cards">
                    <div class="card">
                        <div class="main content">
                            <div class="header">
                                Guteng
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two description">
                                Active: <span class="provStats">10000</span> <br>
                                Deaths: <span class="provStats">200</span> <br>
                                Recoveries: <span class="provStats">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main content">
                            <div class="header">
                                Guteng2
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two description">
                                Active: <span class="provStats">10000</span> <br>
                                Deaths: <span class="provStats">200</span> <br>
                                Recoveries: <span class="provStats">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main content">
                            <div class="header">
                                Guteng2
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two description">
                                Active: <span class="provStats">10000</span> <br>
                                Deaths: <span class="provStats">200</span> <br>
                                Recoveries: <span class="provStats">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main content">
                            <div class="header">
                                Guteng2
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two description">
                                Active: <span class="provStats">10000</span> <br>
                                Deaths: <span class="provStats">200</span> <br>
                                Recoveries: <span class="provStats">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main content">
                            <div class="header">
                                Guteng2
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two description">
                                Active: <span class="provStats">10000</span> <br>
                                Deaths: <span class="provStats">200</span> <br>
                                Recoveries: <span class="provStats">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="main content">
                            <div class="header">
                                Guteng2
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two description">
                                Active: <span class="provStats">10000</span> <br>
                                Deaths: <span class="provStats">200</span> <br>
                                Recoveries: <span class="provStats">20</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="svgColumn" class="ten wide column">
                <%- include("./map/mapFile") %>
            </div>

            <div class="two wide column left aligned">
                <div class="ui secondary labeled icon toggle button">
                    <i class="left arrow icon"></i>
                    Trigger Sidebar
                </div>
            </div>
        </div>
    </section>
    <div class="ui section divider"></div>

    <%# Graphs %>
    <h2 class="ui header block top attached">Graphs</h2>
    <section class="ui segment padded section expand raised attached">
        <div>
            <p>The Graphs go here</p>
        </div>
    </section>
    <div class="ui section divider"></div>

    <%# Table %>
    <h2 class="ui header block top attached">Table</h2>
    <section class="ui segment padded section expand raised attached">
        <div>
            <p>The Table will go here!!!</p>
        </div>
    </section>
    <div class="ui section divider"></div>

    </div>
</div>
<%- include("./partials/footer") %>

<script>
    setColours(<%- JSON.stringify(provCases) %>)
    setProvs(<%- JSON.stringify(provCases) %>,<%- JSON.stringify(provDeaths) %>,<%- JSON.stringify(provRecoveries) %>)
</script>